@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto+Slab:wght@300;400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.parent-container {
  background-color: #fafafa;
}

.container {
  margin: 0 6.188rem 0 6.25rem;
}
