.nav-head {
  height: 5.938rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-bottom: 1px solid #e8e8e8;
}

.nav {
  width: 100%;
  display: flex;
  margin: 0 6.188rem 0 6.25rem;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 3.5rem;
  height: 3.5rem;
}

.logo h2 {
  margin: 0;
  padding: 0 0 0 1rem;
}

.nav-items {
  padding: 0;
  display: flex;
  list-style: none;
  gap: 2.563rem;
}

.nav-items li a {
  text-decoration: none;
  height: 1rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.813rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: #0290ff;
}

.active {
  text-decoration: underline !important;
}
